<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.6.0/css/all.min.css"
    />
    <link rel="stylesheet" href="/assets/css/home.css" />
    <link rel="stylesheet" href="/assets/css/login.css" />
    <link rel="stylesheet" href="/assets/css/base.css" />
    <link rel="stylesheet" href="/assets/css/responsive.css" />
    <title>Sign in to MangaDex</title>
  </head>
  <body>
    <a href="home.html" class="login__logo">
      <img src="/assets/img/login_logo.svg" alt="" />
      <span class="logo__link">MangaDex</span>
    </a>
    <div class="login__content">
      <div class="login__box">
        <h1 class="login__header">Sign in to your account</h1>
        <div class="login__form">
          <p class="login__label">Username or email</p>
          <input type="text" class="login__input" placeholder="" />
          <p class="login__label">Password</p>
          <input type="password" class="login__input" placeholder="" />
        </div>
        <div class="login__sub">
          <div class="">
            <input type="checkbox" name="" id="input__checkbox" />
            <label class="remember__me" for="input__checkbox"
              >Remember Me</label
            >
          </div>
          <a href="forgotPass.html" class="forgot__pass">Forgot Password?</a>
        </div>
        <a href="userProfile.html" class="login__btn">Sign In</a>
        <a href="" class="login__text">Try another way</a>
        <div class="register__box">
          <span class="register__box-text">New user?</span>
          <a href="register.html" class="register__link">Register</a>
        </div>
      </div>
    </div>
  </body>
</html>
