<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.6.0/css/all.min.css"
    />
    <link rel="stylesheet" href="/assets/css/home.css" />
    <link rel="stylesheet" href="/assets/css/login.css" />
    <link rel="stylesheet" href="/assets/css/base.css" />
    <link rel="stylesheet" href="/assets/css/responsive.css" />
    <title>Sign in to MangaDex</title>
  </head>
  <body>
    <a href="home.html" class="login__logo">
      <img src="/assets/img/login_logo.svg" alt="" />
      <span class="logo__link">MangaDex</span>
    </a>
    <div class="login__content">
      <div class="login__box">
        <h1 class="login__header">Update account to premium</h1>
        <div class="login__form">
          <label for="premium" class="login__label"
            >Choose your premium plan duration</label
          >
          <br />
          <select name="premium" id="premium">
            <option value="1month">1 Month</option>
            <option value="3month">3 Month</option>
            <option value="6month">6 Month</option>
            <option value="1year">1 Year</option>
          </select>
        </div>
        <a href="userProfile.html" class="login__btn">Update</a>
        <div class="register__box"></div>
      </div>
    </div>
  </body>
</html>
