<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.6.0/css/all.min.css"
    />
    <link rel="stylesheet" href="/assets/css/home.css" />
    <link rel="stylesheet" href="/assets/css/login.css" />
    <link rel="stylesheet" href="/assets/css/base.css" />
    <link rel="stylesheet" href="/assets/css/responsive.css" />
    <title>Sign in to MangaDex</title>
  </head>
  <body>
    <a href="home.html" class="login__logo">
      <img src="/assets/img/login_logo.svg" alt="" />
      <span class="logo__link">MangaDex</span>
    </a>
    <div class="login__content">
      <div class="login__box">
        <span class="register__required"
          ><span class="register__required-icon">*</span> Required fields</span
        >
        <h1 class="login__header">Register</h1>
        <div class="login__form">
          <p class="login__label">
            Username <span class="register__required-icon">*</span>
          </p>
          <input type="text" class="login__input" placeholder="" />
          <p class="login__label">
            Password <span class="register__required-icon">*</span>
          </p>
          <input type="password" class="login__input" placeholder="" />
          <p class="login__label">
            Confirm password <span class="register__required-icon">*</span>
          </p>
          <input type="password" class="login__input" placeholder="" />
          <p class="login__label">
            Email <span class="register__required-icon">*</span>
          </p>
          <input type="email" class="login__input" placeholder="" />
        </div>
        <a href="login.html" class="login__text register__back"
          ><i class="fa-solid fa-angles-left"></i> Back to Login</a
        >
        <a href="login.html" class="login__btn">Register</a>
      </div>
    </div>
  </body>
</html>
